* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid red;
}
html {
    display: flex;
    justify-content: center;
}

body {
    width: 50vw;
}

#content {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

li {
    width: 10%;
}